{% extends 'index.html' %}
{% load static %}
{% block context %}

    <div class="col-md-12">
        <a href="{% url 'ctg_list' %}">
            <button type="button" class="btn btn-wd btn-default btn-fill btn-move-left">
            <span class="btn-label">
                <i class="ti-angle-left"></i>
            </span>
                Orqaga
            </button>
        </a>
        <div style="margin-bottom: 50px"></div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Category Detail</h4>
                <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Kategoriya ID</td>
                        <td>{{ ctg.id }}</td>
                    </tr>
                    <tr>
                        <td>Nomi</td>
                        <td>{{ ctg.name }}</td>
                    </tr>
                    <tr>
                        <td>Yaratilgan voqti</td>
                        <td>{{ ctg.created_at }}</td>
                    </tr>
                    <tr>
                        <td>So'ngi o'zgartirish</td>
                        <td>{{ ctg.updated_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}